<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" required name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    @if (ViewBag.jobs.Count > 1)
    {
         <h3>@ViewBag.jobs.Count Results</h3>
    }
    else if (ViewBag.jobs.Count == 1)
    {
        <h3>@ViewBag.jobs.Count Result</h3>
    }
    else
    {
        <h3>No Results</h3>
    }

   

    // TODO #2 - Loop over jobs dictionary and display all job fields

    int number = 1;

    @foreach (Dictionary<string, string> jobsDict in ViewBag.jobs)
    {

        int increment = number++;


        {
            <div>
                <h3>Result @increment :</h3>
                <table class="job-listing">
                    @foreach (KeyValuePair<string, string> job in jobsDict)

                     {
                        if (job.Key == "name")
                        {
  
                            <tr>
                                <td>@job.Key.ToUpper()</td>
                                <td>@job.Value</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@job.Key.ToUpper()</td>
                                <td><a asp-controller="List" asp-action="Jobs" asp-route-column="@job.Key" asp-route-value="@job.Value">@job.Value</a></td>
                            </tr>
                        }
                     }
                </table>
            </div>
        }
    }
}